:root {
    /* Modo claro */
    --primary-color: #2C3E50; /* Azul-escuro */
    --primary-bg-color: #ECF0F1; /* Cinza-claro */
    --secondary-bg-color: #BDC3C7; /* Cinza-médio */
    --border-color: #7F8C8D; /* Cinza-escuro */

    --title-color: #34495E; /* Azul-acizentado */
    --link-color: #3498DB; /* Azul brilhante */
    --icon-color: #E74C3C; /* Vermelho */
    --text-color: #333333; /* Texto para tema claro */

}

.dark-mode {
    /* Modo escuro */
    --primary-color: #ECF0F1; /* Cinza-claro */
    --primary-bg-color: #2C3E50; /* Azul-escuro */
    --secondary-bg-color: #34495E; /* Azul-acizentado */
    --border-color: #7F8C8D; /* Cinza-escuro */

    --title-color: #BDC3C7; /* Cinza-médio */
    --link-color: #1ABC9C; /* Verde-água */
    --icon-color: #E74C3C; /* Vermelho */
    --text-color: #E0E0E0; /* Texto claro */
}

/* Generic Styles */
p,
h1,
h2,
h3{
    font-family: "Inter", sans-serif;
}

body{
    background-color: var(--primary-bg-color);
}

i{
    color: var(--icon-color);
}

.menu {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.menu-icon,
.menu-text {
    color: var(--text-color);
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: 0.75rem;
}

/* Header */

header i{
    font-size: 1.5rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
}

header ul{
    display: flex;
}

header img{
    width: 3.25rem;
    height: 3.25rem;
}

/* Menu mobile*/

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu-item {
    width: 100%;
}

.menu-mobile .menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.menu-link.active .menu-icon,
.menu.active .menu-text {
    color: var(--primary-color);
    font-weight: 600;
}



@media (min-width: 760px) {
    .menu-mobile {
        display: none;
    }
}