:root {
    /* Vermelho */
    --icon-color: #E74C3C;
}
.light-theme{
    /* Modo claro */
    --primary-color: #2C3E50;
    /* Azul-escuro */
    --primary-bg-color: #ECF0F1;
    /* Cinza-claro */
    --secondary-bg-color: #BDC3C7;
    /* Cinza-médio */
    --border-color: #7F8C8D;
    /* Cinza-escuro */

    --title-color: #34495E;
    /* Azul-acizentado */
    --link-color: #3498DB;
    /* Azul brilhante */
    --text-color: #333333;
    /* Texto para tema claro */

}

.dark-theme{
    /* Modo escuro */
    --primary-color: #FFFFFF; /* Branco puro para detalhes principais */
    --primary-bg-color: #1A1A1A; /* Preto suave para o fundo */
    --secondary-bg-color: #2E2E2E; /* Cinza escuro para contrastar com o fundo */
    --border-color: #444444; /* Cinza médio para bordas suaves */

    --title-color: #F5F5F5; /* Branco-quase-puro para títulos */
    --link-color: #00ADB5; /* Azul-verde vibrante para links */
    --text-color: #CCCCCC; /* Cinza-claro para texto */
    --icon-color: #FF5722; /* Laranja vibrante para ícones */
}

/* Generic Styles */
p,
h1,
h2,
h3 {
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--primary-bg-color);
}

i {
    color: var(--primary-color);
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.menu-icon,
.menu-text {
    color: var(--text-color);
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: 0.75rem;
}

/* Header desktop */

header #toggleTheme {
    font-size: 1.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

header .header-brand {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
}

header .brand-logo {
    width: 3.25rem;
    height: 3.25rem;
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}

.menu-principal {
    gap: 1rem;

}

.header-nav {
    display: none;
}
/* Menu mobile*/

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu-item {
    width: 100%;
}
.menu-item span{
    font-size: 0.9rem;
    font-family: "inter", sans-serif;
}
.menu-mobile .menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.active .menu-icon,
.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--primary-color);
    font-weight: 600;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 760px) {
    header {
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }
    .header-nav-mobile{
        display: none;
    }
    .header-nav {
        display: flex;
    }
    .header-nav,
    .header-toggle {
        min-width: 45%;
    }
}

@media (min-width: 1400px) { 
    header {
        padding: 1rem 15rem;
    }
}